$main-background-color: #ffffff;

$main-font: "Montserrat",
  "Arial",
  sans-serif;
$second-font: "Rubik",
  "Arial",
  sans-serif;

$main-color: #122659;
$accent-color-1: #ffd787;
$accent-color-2: #8dd9e5;
$accent-color-3: #feb9cc;
$border-color: #000000;

$font-size-desktop-s: 16px;
$font-size-desktop-m: 18px;
$font-size-desktop-h3: 20px;
$font-size-desktop-h1: 42px;
$font-size-desktop-h2: 36px;
$font-size-tablet-s: 14px;
$font-size-tablet-m: 18px;
$font-size-tablet-l: 22px;
$font-size-mobile-h1: 28px;
$font-size-mobile-h2: 22px;
$font-size-mobile-m: 16px;
$font-size-mobile-s: 14px;

$line-height-s: 1.2;
$line-height-m: 1.4;

$desktop-full-width: 1366px;
$tablet-full-width: 1023px;
$mobile-full-width: 767px;
