.groups {
  margin: 0 auto;
  padding-top: 176px;
  padding-bottom: 184px;
  background-image: url("../img/star-icon.svg"),
    url("../img/groups-desktop-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 10.2% 15.3%, 0 0;
  background-size: auto, cover;
}

.groups__wrapper {
  padding-left: 14.5%;
  padding-right: 14.5%;
}

.groups__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 51px;
}

.groups__top p {
  width: 30.7%;
}

.groups h2 {
  margin: 0;
  padding: 0;
  font-family: $second-font;
  font-size: $font-size-desktop-h2;
  font-weight: 500;
}

.groups h3 {
  margin: 0;
  padding: 0;
  font-size: $font-size-desktop-h3;
  font-weight: 500;
  margin-bottom: 29px;
}

.groups p {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  line-height: 1.45;
}

.groups__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.groups__list-item {
  width: 30%;
  text-align: center;
  border: 3px solid $accent-color-1;
  padding-top: 43px;
  border-radius: 13px;
}

.groups__list p {
  margin-bottom: 7px;
}

.groups__button {
  margin-top: 26px;
  margin-bottom: 49px;
}

.groups b {
  font-weight: 500;
  font-size: $font-size-desktop-h3;
}

.groups__list-item--first {
  border-color: $accent-color-2;
}

.groups__list-item--second {
  border-color: $accent-color-1;
}

.groups__list-item--third {
  border-color: $accent-color-3;
}

@media (max-width: $tablet-full-width) {
  .groups {
    background-image: url("../img/star-icon.svg"),
      url("../img/groups-tablet-bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 3.7% 8.8%, 0 0;
    background-size: 39px 40px, contain;
    padding-top: 101px;
    padding-bottom: 110px;
  }

  .groups__wrapper {
    padding-left: 5.86%;
    padding-right: 5.86%;
  }

  .groups__top {
    margin-bottom: 44px;
  }

  .groups__top p {
    width: 38.5%;
    font-size: $font-size-tablet-s;
  }

  .groups__list-item {
    width: 29.5%;
    padding-top: 38px;
  }

  .groups h3 {
    margin-bottom: 24px;
  }

  .groups__button {
    margin-top: 21px;
    margin-bottom: 42px;
    padding: 13px 28px;
  }
}

@media (max-width: $mobile-full-width) {
  .groups__wrapper {
    padding-left: 4.69%;
    padding-right: 4.69%;
  }

  .groups h2 {
    font-size: $font-size-mobile-h2;
  }
}
