.main-nav {
  flex-basis: 83%;
  display: flex;
  justify-content: space-between;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  margin-right: 22px;
}

@media (max-width: $tablet-full-width) {
  .main-nav {
    flex-basis: auto;
    margin-bottom: 10px;
  }

  .main-nav__list {
    font-weight: 500;
    font-size: $font-size-tablet-l;
    flex-direction: column;
    display: none;
  }

  .main-nav__item {
    margin-bottom: 20px;
  }

  .main-nav__list--closed {
    display: none;
  }

  .main-nav__list--opened {
    display: block;
  }
}

@media (max-width: $mobile-full-width) {
  .main-nav__list {
    font-size: $font-size-tablet-m;
  }
}
