.page-header {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 36px;
}

.page-header a {
  color: $main-color;
}

.page-header__wrapper {
  padding-left: 7.17%;
  padding-right: 7.47%;
}

.page-header__toggle {
  display: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: none;
}

@media (max-width: $tablet-full-width) {
  .page-header {
    padding-top: 32px;
    padding-bottom: 20px;
  }

  .page-header__wrapper {
    padding-left: 5.7%;
    padding-right: 6.3%;
  }

  .page-header__top {
    display: flex;
  }

  .page-header__toggle {
    display: block;
  }

  .page-header__toggle--close {
    display: none;
  }
}

@media (max-width: $mobile-full-width) {
  .page-header {
    padding-top: 31px;
  }

  .page-header__wrapper {
    padding-left: 4.4%;
    padding-right: 4.69%;
  }
}
