.page-footer {
  padding: 36px 0;
}

.page-footer__wrapper {
  padding-left: 14%;
  padding-right: 14%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.page-footer p {
  margin: 0;
  padding: 0;
}

.page-footer a {
  color: $main-color;
}

@media (max-width: $tablet-full-width) {
  .page-footer__wrapper {
    padding-left: 5.86%;
    padding-right: 5.86%;
    flex-direction: row;
    align-items: flex-start;
    font-size: $font-size-tablet-s;
    line-height: $line-height-m;
  }
}

@media (max-width: $mobile-full-width) {
  .page-footer__wrapper {
    padding-left: 4.69%;
    padding-right: 4.69%;
  }
}
