.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navigation__logo svg {
  width: 143px;
  height: 23px;
}

.site-navigation__tel {
  font-size: $font-size-desktop-m;
  min-width: 191px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -2px;
}

@media (max-width: $tablet-full-width) {
  .site-navigation__tel {
    font-weight: 500;
    font-size: $font-size-tablet-m;
  }

  .site-navigation__logo {
    margin-left: 16%;
    margin-top: -2px;
  }

  .site-navigation__logo svg {
    width: 132px;
    height: 21px;
  }
}

@media (max-width: $mobile-full-width) {
  .site-navigation__logo {
    margin-left: 9.3%;
  }

  .site-navigation__logo svg {
    width: 117px;
    height: 18px;
  }

  .site-navigation__tel--closed {
    display: none;
  }
}
